<% layout('layout') -%>
<div class="login_layout">
    <div class="overlay_bg"></div>
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="title"><h1><span class="fa fa-sign-in"></span> <%= title %></h1></div>
            <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <!-- LOGIN FORM -->
            <% if (message.length > 0) { %>
                <div class="alert alert-success"><%= message %></div>
            <% } %>

            <% if (error.length > 0) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>
            <form action="/create-new-password" id="create_password_form" name="create_password_form" method="post" class="contact-form">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="Enter new password" name="password">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm password" name="confirm_password">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-4">
                        <div class="form-group">
                            <button id="submit_btn"  type="submit" class="btn btn-warning btn-lg">Submit</button>
                            <input type="hidden" class="form-control input-lg" value="<%= user.local.token %>" id="token"  name="token">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>