<% layout('layout') -%>
<section id="profile" data-ng-controller="eventController">
   <% include partial/profile-nav.ejs %>
    <div class="container update-profile-page">
      <div id="main">
         <!-- start:breadcrumb -->
         <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li class="active">Update Event</li>
         </ol>
         <!-- end:breadcrumb -->   
         <div class="row" id="home-content">
                <div class="title">
                    <h1 style="color:#3c3c3c">Update Event</h1>
                    <hr style="">
                </div>
                  <!-- left column -->
                  <div class="col-md-1">

                  </div>
                  <!-- event form column -->
                  <div class="col-md-10 personal-info">
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger"><%= message %></div>
                    <% } %>
                    <% if (messageSuccess.length > 0) { %>
                        <div class="alert alert-success"><a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a><%= messageSuccess %></div>
                    <% } %>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h1 class="panel-title">
                                <strong>Event info</strong>
                            </h1>
                        </div>
                        <div class="panel-body">
                        
                      
                            <form class="form-horizontal" id="update-event" role="form" action="/update-event" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                 <input type="hidden" name="event_id" value="<%= eventdata._id %>">
                                 <input type="hidden" id="eventlat" name="eventlat" >
                                 <input type="hidden" id="eventlong" name="eventlong" >
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                        <label>Event Name</label>
                                        <input  type="text" placeholder="Please enter event name" class="form-control" name="eventName" value="<%= eventdata.eventName %>">
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <label>Event Type</label>
                                        <select class="form-control" name="eventType">
                                            <option value="">Please select event type</option>
                                            <% for(var i=0; i< eventtypesList.length; i++){ %>
                                             <option <% if(eventtypesList[i].event_type == eventdata.eventType){ %>selected<% } %> value="<%= eventtypesList[i].event_type %>"><%= eventtypesList[i].event_type %></option>
                                             <% }%>
                                        </select>
                                        <!--<input value="" type="text" placeholder="Please enter event type" class="form-control" name="eventType">-->
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                        <label>Start Date</label>
                                         <input  type="text" placeholder="select start date" id="startdate" class="form-control" name="eventstartDate" >
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <label>End Date</label>
                                         <input  type="text" placeholder="select end date" id="enddate" class="form-control" name="eventendDate" >
                                    </div>
                                </div>
                                 <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                        <label>Start Time</label>
                                         <input value="" type="text" placeholder="select start time" id="starttime" class="form-control" name="eventstartTime">
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <label>End Time</label>
                                         <input value="" type="text" placeholder="select end time" id="endtime" class="form-control" name="eventendTime">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                    <label>Location</label>
                                  
                                    <input type="text"  class="form-control" id="eventlocation"  ng-init="chosenPlace ='<%= eventdata.eventLocation %>'" name="eventLocation"  ng-model="chosenPlace" googleplace/>
                                   
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <label>Location Type</label><br/>
                                        <input type="radio" name="locationtype" value="public" <% if(eventdata.eventLocationType == "public"){ %>checked<% } %>>Public&nbsp;&nbsp;
                                        <input type="radio" name="locationtype" value="private" <% if(eventdata.eventLocationType == "private"){ %>checked<% } %>>Private<br>                                       
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12">
                                        <label>Description</label>
                                        <textarea  type="text" placeholder="Please enter event description" class="form-control" name="eventDescription"><%= eventdata.description %></textarea>
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                        <label>Event Image</label>
                                        <input  type="file"  class="form-control" name="eventImage"  />
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <label>Host</label>
                                        <input  type="text" placeholder="Please enter host" class="form-control" name="eventHost" value="<%= eventdata.eventHost %>">
                                       
                                    </div>
                                   
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 col-xs-12">
                                        <img ng-src="<%= eventdata.eventImage %>"/>
                                    </div>
                                   
                                </div>
                                
                                <div class="form-group">
                                  <div class="col-md-12 col-xs-12 btncreateevent">
                                    <input type="submit" class="btn btn-primary" value="Update Event">
                                  </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
               </div>
            <hr>
         </div>
      </div>
    </div>
</section>
<script type="text/javascript">
        $(function () {
                
            $("#startdate").datetimepicker({
                 minView : 2,
                 format: 'yyyy-mm-dd'

            });

             $("#enddate").datetimepicker({
                 minView : 2,
                 format: 'yyyy-mm-dd'

            });


            $('#starttime').datetimepicker({
                        format: 'HH:ii p',
                        autoclose: true,
                        // todayHighlight: true,
                        showMeridian: true,
                        startView: 1,
                        maxView: 1
            });
         
            $('#endtime').datetimepicker({
                        format: 'HH:ii p',
                        autoclose: true,
                        // todayHighlight: true,
                        showMeridian: true,
                        startView: 1,
                        maxView: 1
            });
    
                
        });
            
            
            
        $(document).ready(function(){
                
                var startdate = '<%= eventdata.startDate %>';
                var enddate = '<%= eventdata.endDate %>';
                var starttime = '<%= eventdata.startTime %>';
                var endtime = '<%= eventdata.endTime %>';
                var starteventDate = moment(startdate).format('YYYY-MM-DD');
                var endeventDate = moment(enddate).format('YYYY-MM-DD');
                //var starteventTime = moment(startdate).format('YYYY-MM-DD hh:mm:ss');
                //var endeventTime = moment(enddate).format('YYYY-MM-DD hh:mm:ss');
                $('#startdate').val(starteventDate);
                $('#enddate').val(endeventDate);
                $('#starttime').val(starttime);
                $('#endtime').val(endtime);
                     
        });
        
</script>