<table align="center" width="600" height="auto" cellpadding="0" cellspacing="0">
   <tbody>
      <tr>
         <td>
            <img src="<%= base_url %>/public/images/email-header-img.jpg" border="0" width="600" height="315" class="CToWUd a6T" tabindex="0">
            <div class="a6S" dir="ltr" style="opacity: 0.01; left: 641px; top: 270px;">
            </div>
         </td>
      </tr>
   </tbody>
</table>
<table align="center" width="600" height="100%" cellpadding="0" cellspacing="0">
   <tbody>
      <tr>
         <td width="2" bgcolor="eeeeee"><br></td>
         <td width="596" align="center">
            <table width="513" align="center">
               <tbody>
                  <tr>
                     <td align="center">
                        <font face="arial" size="5" color="#666666">
                        <br>
                        <b>Congratulations on your first <br>BlogTv Broadcast!</b>
                        </font>
                     </td>
                  </tr>
                  <tr>
                     <td align="left">
                        <font face="arial" size="2" color="#666666">
                           <br><br>
                           Thank you for becoming part of the BlogTv Broadcasting Community. If you have any questions about broadcasting feel free to visit our 
                           <a href="javascript:;" style="text-decoration:none" target="_blank">Community Support Pages</a> and make
                           sure to check out these <a href="javascript:;" style="text-decoration:none" target="_blank">50 tips on how to make an awesome broadcast</a>!<br><br>
                           In the meantime, here are some tips on how to get the best out of being a BlogTvier:
                           <br><br>
                           <li>Add a description to <a href="javascript:;" style="text-decoration:none" target="_blank">your profile page</a> so your fans know a little bit about you</li>
                           <li>Update your cover and profile images to personalize your profile</li>
                           <li>Link to your social networks via <a href="javascript:;" style="text-decoration:none" target="_blank">your Settings page</a> so fans can follow and <br>&nbsp;&nbsp;&nbsp;subscribe to you while you're live</li>
                           <br>
                           Happy Broadcasting!
                           <br><br>
                        </font>
                     </td>
                  </tr>
                  <tr>
                     <td align="center"><br>
                        <a href="<%= base_url + '/login'  %>" target="_blank">
                        	<img src="<%= base_url %>/public/images/icon/golivenow-btn.png" border="0" width="172" height="40" class="CToWUd">
                        </a>
                     </td>
                  </tr>
                  <tr>
                     <td align="center">    
                     </td>
                  </tr>
               </tbody>
            </table>
            <br>
            <table width="513" align="center">
               <tbody>
                  <tr>
                     <td align="center">
                        <br>
                        <a href="javascript:;" target="_blank">
                        	<img src="<%= base_url %>/public/images/icon/fb-icon.jpg" border="0" hspace="3" width="34" height="32" class="CToWUd">
                    	</a>

                    	<a href="javascript:;" target="_blank">
                        	<img src="<%= base_url %>/public/images/icon/tw-icon.jpg" border="0" hspace="3" width="34" height="32" class="CToWUd">
                    	</a>
                    	<a href="javascript:;" target="_blank">
                    		<img src="<%= base_url %>/public/images/icon/youtube-icon.jpg" border="0" hspace="3" width="34" height="32" class="CToWUd">
                		</a>
                		<a href="javascript:;" target="_blank">
                			<img src="<%= base_url %>/public/images/icon/images/tm-icon.jpg" border="0" hspace="3" width="34" height="32" class="CToWUd">
            			</a>
                    	<a href="javascript:;" target="_blank">
                    		<img src="<%= base_url %>/public/images/icon/mobile-icon.jpg" border="0" hspace="3" width="34" height="32" class="CToWUd">
                    	</a>
                        <br><br>
                        <font face="arial" size="1" color="#999999">BlogTv.ca<br>
                        	<a href="javascript:;" style="text-decoration:none" target="_blank">Privacy</a> | 
                        	<a href="javascript:;" style="text-decoration:none">Unsubscribe</a></font>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
         <td width="2" bgcolor="eeeeee"><br></td>
      </tr>
   </tbody>
</table>