 <div id="header">
      <div class="overlay">
         <div class="container">
            <ul class="nav navbar-nav navbar-right top-menu">
                <li class="friendsearchbox">
                    <form class="navbar-form" id="searchfriends" role="search" method="get" action="">
                        <div class="input-group">
                            <input  class="form-control search-friend" placeholder="Search Friends" name="searchfrnd" id="search-box-frnd">
                            <div class="input-group-btn">
                                <button class="btn btn-default" id="searchfrndbtn" type="button" ><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </li>
               <li id="header_inbox_bar" class="dropdown" ng-init="getNotifications()">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#" title="Notifications">
                  <i class="fa fa-bell-o" data-original-title="" title=""></i>
                  <span class="badge bg-important" data-ng-bind="notificationresults.length"></span>
                  </a>
                  <ul class="dropdown-menu extended inbox">
                     <div class="notify-arrow notify-arrow-red"></div>
                     <li>
                        <p class="red" >You have {{notificationresults.length}} new notifications</p>
                     </li>
                     <li data-ng-if="notificationresults.length > 0"  ng-repeat="notification in notificationresults" id="li_{{ notification._id}}">
                        <span class="closeButton" ng-click="removeNotification(notification._id)"><i class="fa fa-times" aria-hidden="true"></i></span>
                        <a href="javascript:void(0)">
                            <span class="photo">
                                <img alt="avatar" src="{{ notification.profileImage }}">

                            </span>
<!--                            <span class="subject">
                                <span class="from">{{ notification.notificationBy }}</span>
                                <span class="time" ng-bind="notification.addedOn | date:'yyyy-MM-dd'"></span>
                            </span>-->
                            <span class="message" data-ng-if="notification.notificationType == 'request'"><b>{{ notification.FirstName }}&nbsp;{{ notification.LastName }}</b> sent you a friend request.</span>
                            <span class="message" data-ng-if="notification.notificationType == 'invitation'"><b>{{ notification.FirstName }}&nbsp;{{ notification.LastName }}</b> sent you an event invitation.</span>
                            <span class="message" data-ng-if="notification.notificationType == 'follow'"><b>{{ notification.FirstName }}&nbsp;{{ notification.LastName }}</b> started following you.</span>
                            <span class="message" data-ng-if="notification.notificationType == 'acceptrequest'"><b>{{ notification.FirstName }}&nbsp;{{ notification.LastName }}</b> accepted your friend request.</span>
                            <span class="message" data-ng-if="notification.notificationType == 'eventjoined'"><b>{{ notification.FirstName }}&nbsp;{{ notification.LastName }}</b> accepted your event invitation.</span>

                            <span class="subject">
                                <!--<span class="time" ng-bind="notification.addedOn | date:'yyyy-MM-dd'"></span>-->
                                <!--<span class="time" ng-init="showtime(notification.addedOn)">{{ stopwatch }}</span>-->

                            </span>
                        </a>

                     </li>
<!--                     <li>
                        <a href="#">
                            <span class="photo">
                                <img alt="avatar" src="<%= user.local.profileImage %>">
                            </span>
                            <span class="subject">
                                <span class="from"><%= user.local.firstName+' '+user.local.lastName %></span>
                                <span class="time">Just now</span>
                            </span>
                            <span class="message">Hello, this is an example msg.</span>
                        </a>
                     </li>-->
<!--                     <li>
                        <a href="#">
                        <span class="photo"><img alt="avatar" src="http://bootemplates.com/themes/srikandi/v2/img/avatar-mini.jpg"></span>
                        <span class="subject">
                        <span class="from"><%= user.local.firstName+' '+user.local.lastName %></span>
                        <span class="time">Just now</span>
                        </span>
                        <span class="message">
                        Hello, this is an example msg.
                        </span>
                        </a>
                     </li>
                     <li>
                        <a href="#">See all messages</a>
                     </li>-->
                  </ul>
               </li>
                <%
                    if(user){
                            var imagepath = user.local.profileImage;
                            var profileimageplacehold = "http://placehold.it/300";
                            if(user.local.profileImage == profileimageplacehold){
                                    imagepath = user.local.profileImage+"?text="+user.local.firstName;
                            }

                        }

                %>
               <!-- user login dropdown start-->
               <li class="dropdown">
                  <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                  <img style="width: 30px;" class="img-circle" src="<%= imagepath %>">

                  <span class="username"><%= user.local.firstName+' '+user.local.lastName %></span>
                  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                     <div class="log-arrow-up"></div>
                     <% if (user.local.userLevel == "ADMIN") {  %>
                     <li><a href="/admin"><i class="fa fa-suitcase" data-original-title="" title=""></i> Admin Dashboard</a></li>
                     <% } %>
                     <li><a href="/profile"><i class="fa fa-user" data-original-title="" title=""></i> Profile</a></li>
                     <li><a href="/update-profile"><i class=" fa fa-pencil" data-original-title="" title="Update Profile"></i>Update Profile</a></li>
                     <li><a href="/list-events"><i class="fa fa-calendar" data-original-title="" title=""></i>Events</a></li>
                     <li><a href="/friends"><i class="fa fa-users" data-original-title="" title=""></i>Friends</a></li>
                     <li><a href="/logout"><i class="fa fa-sign-out" data-original-title="" title=""></i> Log Out</a></li>
                  </ul>
               </li>
            </ul>
         </div>
         <nav class="navbar" role="navigation">
            <div class="container">
               <!-- Brand and toggle get grouped for better mobile display -->
               <div class="navbar-header">
                  <button type="button" class="btn-block btn-drop navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                  <strong>MENU</strong>
                  </button>
               </div>

<!--                <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="index.html">
                                        <div class="text-center">
                                            <i class="fa fa-user" aria-hidden="true"></i><br>
                                            Profile
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        <div class="text-center">
                                            <i class="fa fa-video-camera" aria-hidden="true"></i><br>
                                            Video's
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        <div class="text-center">
                                             <i class="fa fa-camera" aria-hidden="true"></i><br>
                                            Photo's
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        <div class="text-center">
                                            <i class="fa fa-user" data-original-title="" title=""></i><br>
                                            Friends
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        <div class="text-center">
                                            <i class="fa fa-user" data-original-title="" title=""></i><br>
                                            Followers
                                        </div>
                                    </a>
                                </li>
                                <li class="dropdown">
                                    <a href="#">
                                        <div class="text-center">
                                            <i class="fa fa-user" data-original-title="" title=""></i><br>
                                            Following
                                        </div>
                                    </a>
                                </li>

                            </ul>
                </div>-->
            </div>
         </nav>
      </div>
    </div>
