<div class="col-md-3">
  <div class="box box-primary">
    <div class="box-body box-profile">
      <img class="profile-user-img img-responsive img-circle" src="/public/uploads/<%= result.local.profileImage %>" alt="User profile picture">
      <h3 class="profile-username text-center"> <%= result.local.firstName +' '+ result.local.lastName %> </h3>
      <p class="text-muted text-center"><i class="fa fa-map-marker"></i> <%= result.local.locationState %>, <%= result.local.locationCountry %></p>
      <ul class="list-group list-group-unbordered social-icons-admin">
        <li class="list-group-item">
          <b>Followers</b> <a class="pull-right"><%= followedtocount %></a>
        </li>
        <li class="list-group-item">
          <b>Following</b> <a class="pull-right"><%= followedbycount %></a>
        </li>
        <li class="list-group-item">
          <b>Friends</b> <a class="pull-right" id="friendscount"><%= count %></a>
        </li>
        <% if(result.local.userLevel != "ADMIN"){ %>
        <li class="list-group-item enable-disable-user">
            <b>Account Enable/Disable </b>
            <label class="switch1 pull-right">
                <input <% if(result.enableAccount == true){ %> checked <% } %> type="checkbox" id="checkbox1" user_id="<%= result.local.username %>">
                <div class="slider1"></div>
            </label>
        </li>
        <% } %>
        <li class="list-group-item">
            <div class="text-center">
                <a href="<%= result.facebookURL %>" class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook"></i></a>
                <a href="<%= result.youtubeURL %>" class="btn btn-social-icon btn-instagram"><i class="fa fa-youtube"></i></a>
                <a href="<%= result.twitterURL %>" class="btn btn-social-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                <a href="<%= result.instagramURL %>" class="btn btn-social-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                <a href="<%= result.skypeUsername %>" class="btn btn-social-icon btn-twitter"><i class="fa fa-skype"></i></a>
            </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
      <li> <h4> User Information</h4></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="timeline">
        <ul class="list-group list-group-unbordered">
        <li class="list-group-item">
          <b>First Name</b> <a class="pull-right"><%= result.local.firstName %></a>
        </li>
        <li class="list-group-item">
          <b>Last Name</b> <a class="pull-right"><%= result.local.lastName %></a>
        </li>
        <li class="list-group-item">
          <b>Email</b> <a class="pull-right"><%= result.local.email %></a>
        </li>
        <li class="list-group-item">
          <b>Username</b> <a class="pull-right"><%= result.local.username %></a>
        </li>
        <li class="list-group-item">
          <b>Gender</b> <a class="pull-right"><%= result.local.gender %></a>
        </li>
        <li class="list-group-item">
          <b>User Level</b> <a class="pull-right"><%= result.local.userLevel %></a>
        </li>
        <li class="list-group-item">
          <b>User Active</b> <a class="pull-right"><%= result.local.userActive %></a>
        </li>
        <li class="list-group-item">
          <b>Account Enable</b>
          <a ng-if="enableAccount == ''"  class="pull-right">
              <% if(result.enableAccount == true){ %> Enabled <% }else{ %> Disabled<% } %>
          </a>
          <a ng-if="enableAccount != ''"  class="pull-right" ng-bind="enableAccount"></a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
