<% var pageurl = page_url+"/l/240x240/" %>
<div class="container">
    <div class="row product_listing">
        <div class="title"><h1> You May also Like </h1></div>
        <div class="listing">
            <% if( results.length > 0 ){ %>
            <% for(var i = 0; i < results.length; i++){
            result = results[i];
            %>
            <div class="col-lg-3 col-md-6 col-md-12">
                <div class="item">
                    <div class="product">
                        <div class="image">
                            <div class="quickview">
                                <a data-toggle="modal" class="btn btn-xs btn-quickview"  href="/product/<%= result.product_permalink %>" data-target="">Quick View</a>
                            </div>
                            <% if(result.product_image[0] != "" && result.product_image[0] != undefined ){ %>
                                <a href="/product/<%= result.product_permalink %>"><img   src="<%= pageurl %><%= page_url %>/public/uploads/<%= result.product_image[0] %>" alt="img" class="img-responsive shopproductlistimg" ></a>
                            <% } else {%>
                                <a href="#"><img  src="http://placehold.it/240x240" alt="img" class="img-responsive shopproductlistimg" ></a>
                            <% } %>
                        </div>
                        <div class="description">
                            <% var producttitle =  result.product_title;
                                var title = producttitle.substring(0,21);
                            %>
                            <h4><a href="/product/<%= result.product_permalink %>"><%= title %></a></h4>
                            <% if(result.product_size != "") { %>
                            <span class="size"><%= result.product_size %></span>
                            <% } %>
                        </div>
                        <div class="price"><span>$<%= result.product_price %></span></div>
                        <div class="action-control">
                          <button data-ng-click="addToCart('<%= result._id %>',1)" class="btn btn-danger product-add-to-cart" id="<%= result._id %>" type="button">
                            <i class="glyphicon glyphicon-shopping-cart"> </i>Add to Cart
                          </button>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
            <% }else{ %>
            <div class="alert alert-danger">No related Product found in shop!</div>
            <% } %>
        </div>
    </div>
</div>
