<% if( results.length > 0 ){ %>
<% for(var i = 0; i < results.length; i++){
result = results[i];
%>
<% var pageurl = page_url+"/l/240x240/" %>
<div class="col-lg-3 col-md-6 col-md-12">
    <div class="item">
        <div class="product">
            <!--<a class="add-fav tooltipHere" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left"><i class="glyphicon glyphicon-heart"></i> </a>-->
            <div class="image">
                <div class="quickview">
                    <a data-toggle="modal" class="btn btn-xs btn-quickview" href="/product/<%= result.product_permalink %>" data-target="">Quick View</a>
                </div>
                <!--<a href="/product/<%= result.product_permalink %>"><img src="/images/related_product.jpg" alt="img" class="img-responsive"></a>-->
            <% if(result.product_image[0] != "" && result.product_image[0] != undefined ){ %>
                <!--<a href="/product/<%= result.product_permalink %>"><img  src="/public/uploads/<%= result.product_image[0] %>" alt="img" class="img-responsive" ></a>-->
                <a href="/product/<%= result.product_permalink %>"><img   src="<%= pageurl %><%= page_url %>/public/uploads/<%= result.product_image[0] %>" alt="img" class="img-responsive shopproductlistimg" ></a>

                <% } else {%>
                <a href="#"><img  src="http://placehold.it/240x240" alt="img" class="img-responsive shopproductlistimg" ></a>
            <% } %>
            </div>
            <div class="description">
                <% var producttitle =  result.product_title;
                var title = producttitle.substring(0,21);
                %>
                <h4><a href="/product/<%= result.product_permalink %>"><%= title %></a></h4>
                <% if(result.product_size != "") { %>
                <span class="size"><%= result.product_size %></span>
                <% } %>
            </div>
            <div class="price"><span>$<%= result.product_price %></span></div>
            <div class="action-control">
               <!--<a class="btn btn-danger"> <span class="add2cart"><i class="glyphicon glyphicon-shopping-cart"> </i> Add to cart </span> </a>-->
              <button class="btn btn-danger product-add-to-cart" id="<%= result._id %>" type="button" data-ng-click="addToCartfromshop('<%= result._id %>',1)">
                        <i class="glyphicon glyphicon-shopping-cart"> </i>Add to Cart
              </button>
            </div>
        </div>
    </div>
</div>
<% } %>
<% }else{ %>
<div class="alert alert-danger">No Product found in shop!</div>
<% } %>
